<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="lidar.xacro" />
    
    <!-- <xacro:laser_bug parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:laser_bug> -->

  <!-- <xacro:mx_ros_2_control name="mx_ros_2_control" /> -->
</robot>